@page
@model MyApp.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (!SignInManager.IsSignedIn(User))
{
    <p>You need log in first</p>
    return;
}
<h1>Check out / Return</h1>

<h4>MyBook</h4>
<hr />
<div  class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyBook.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyBook.Status)
        </dd>
             <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MyBook.ID" />
                    <input type="hidden" asp-for="MyBook.UserName" />
                    <input type="hidden" asp-for="MyBook.Title" />
                    <input type="hidden" asp-for="MyBook.Author" />
                    <input type="hidden" asp-for="MyBook.PublishedDate" />
                    <input type="hidden" asp-for="MyBook.Summary" />
                    <input type="hidden" asp-for="MyBook.Price" />
                    <input type="hidden" asp-for="MyBook.Status" />

                    <div class="form-group">
                        <label asp-for="MyBook.CheckedDate" class="control-label"></label>
                        <input asp-for="MyBook.CheckedDate" class="form-control" />
                        <span asp-validation-for="MyBook.CheckedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MyBook.ReturnedDate" class="control-label"></label>
                        <input asp-for="MyBook.ReturnedDate" class="form-control" />
                        <span asp-validation-for="MyBook.ReturnedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
